h1 {
  font-family: StarFont;
  color: yellow;
  padding: 1rem 0 1rem 2rem;
  font-size: 3rem;
  display: inline-block;
  white-space: nowrap;
}

h2 {
  color: yellow;
}

h1 > span {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8d819;
  color: #000;
  position: relative;
  bottom: 0.4rem;
  right: 1.3rem;
}

label {
  font-size: 1.5rem;
  display: block;
  font-family: StarFont;
}

select,
input {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding: 0.3rem;
}

input:disabled,
select:disabled {
  background-color: red;
}

footer {
  background-color: #e8d819;
  width: 100%;
  display: block;
  height: 7.5vh;
  text-align: center;
  padding: 2rem;
}

.ResourceControls {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  box-shadow: inset 0px -2px 1px #e8d819;
  overflow: hidden;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@font-face {
  font-family: StarFont;
  src: url(./Starjedi.ttf);
}
