.CategoryButton {
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
  padding: 0.2rem;
  box-shadow: 3px 2px yellow;
  margin: 0.5rem 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  transition: 0.5s all;
}

.CategoryButton:hover {
  background-color: yellow;
  color: black;
  transform: translate(3px, 2px);
  box-shadow: none;
}
