.Resource {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #000;
  color: #fff;
  text-align: left;
  border: 1px solid #e8d819;
  min-width: 300px;
  max-width: 700px;
}

caption {
  font-family: StarFont;
  color: #e8d819;
  text-decoration: underline;
  font-size: 1.5rem;
}

tr {
}

td {
  padding: 0.5rem 1rem;
}

tr td:first-of-type {
  border-bottom: 1px dashed #e8d819;
  font-family: StarFont;
  margin-right: 1rem;
  color: #e8d819;
  border-right: 1px dashed #e8d819;
}

tr td:nth-child(2) {
  border-bottom: 1px dashed #e8d819;
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
